$md-padding: 16px 16px 0px 16px;
$md-radius: 4px;
$calendar-blue: #03a9f4;
$calendar-light-blue: #a5ecff;
$calendar-light-green: #afffb9;
$calendar-grey: #ececec;
$calendar-dark-grey: #6e6e6e;
$cell-width: 1fr;
$cell-number-size: 24px;
$cell-number-size-large: $cell-number-size + 2px;
$event-circle-size: 10px;
